<div class="content_container_homeAfterLogin">
    <h2 class="Title_homePage">Co dzisiaj robimy?</h2>
    <div class="context_homeAfterLogin">
        <a class="box_homeAfterLogin" href="http://localhost:3000/notePad">
            <img class="box_homeAfterLogin_image" src="/img/notepad.jpg" alt="notePad_Image">
            <span class="box_homeAfterLogin_text">NotePad</span>
        </a>
        <a class="box_homeAfterLogin" href="http://localhost:3000/CircleAndCross">
            <img class="box_homeAfterLogin_image" src="/img/notepad.jpg" alt="notePad_Image">
            <span class="box_homeAfterLogin_text">Circle And Cross</span>
             </a>
        <a class="box_homeAfterLogin" href="http://localhost:3000/Chat">
            <img class="box_homeAfterLogin_image" src="/img/notepad.jpg" alt="notePad_Image">
            <span class="box_homeAfterLogin_text">Chat</span>
            </a>
        <a class="box_homeAfterLogin" href="http://localhost:3000/PlaysMister">
            <img class="box_homeAfterLogin_image" src="/img/notepad.jpg" alt="notePad_Image">
            <span class="box_homeAfterLogin_text">Plays Mister</span>
            </a>
    </div>
</div>