<div class="notepad_main_container">
    <div id="create_new_note_container" class="create_new_note_container">
        <div class="container_name_and_exitBTN">
            <h5 class="create_note_title">Create new Note</h5>
            <button class="create_note_exitBTn">X</button>
        </div>
        <div class="content_create_new_note">
            <label for="title">Title</label>
            <input id="title_input" type="text">
            <label for="title">content</label>
            <input id="content_input" type="text">
        </div>
        <div class="button_container_create_new_note">
            <button id="create_new_note_button">Create a note</button>
        </div>
    </div>
    <nav class="nav_notePad_menu">
        <button id="button_create_a_new_note_container_show" class="button_create_new_note">Create note</button>
    </nav>
    <main class="notePad_container">

    </main>
</div>
