REGISTER
<script src="/js/checkToken.js"></script>
<form class="form_container" action="http://localhost:4000/register" method="POST">
    <label for="name">name</label>
    <input type="name"  name="name" required>
    <label for="email">Email</label>
    <input type="email"  name="email" required>
    <label for="password">Password</label>
    <input type="password"  name="password" required>
      <button  type="submit">Register</button>
  </form>
  <script>
    
  </script>